.movie {
    &-con {
        display: flex;
        flex-direction: column;
        height: inherit;
    }
    display: flex !important;
    border-bottom: 4px solid $dark;

    background-color: #fff;
    flex-direction: row !important;
    align-items: center;
    &:not(:last-child) {
        margin-bottom: 12px;
    }
    padding: 8px !important;
    border-radius: 4px;
    &-poster {
        user-select: none;
        max-width: 75px;
        & > img {
            width: 100%;
        }
    }
    &-content {
        display: flex !important;
        justify-content: space-between;
        flex: 1;
    }
    &-data {
        align-self: stretch;
        flex: 1;
        margin: 4px;
        color: $darker !important;
        &__name {
            @include text('med');
        }
        &__year {
        }
        &__imdb {
        }
    }
}

.adno {
    &-divider {
        display: flex;
        justify-content: space-between;
        padding: 16px 12px;

        &__prev,
        &__next {
            width: 110px;
            background-color: $dark;
            padding: 8px;
            border-radius: 5px;
            user-select: none;
            cursor: pointer;
            box-shadow: 0px 2px 8px -2px rgba(23, 54, 48, 1);
            @include text('subheading');
        }
        &__prev {
        }
        &__next {
            text-align: right;
        }
        &__page {
            color: $darker;
            position: relative;
            top: 2px;
            align-self: center;
            @include text('small');
        }
    }
}
